@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-color {
    background-color: #323f4b;
}

.image {
    width: 100%;
}

.heading {
    color: #cced00;
}

.heading-1 {
    color: #ffffff;
}

.para {
    color: #9aa5b1;
    font-size: 20px;
    margin-top: 20px;
}

.skills-image {
    height: 20vh;
}

.skills-heading {
    color: #cced00;
}

.bg-color-2 {
    background-color: #1f2933;
}

.skills-bg-color {
    background-color: #323f4b;
    padding: 20px;
    border-radius: 10px;

}