@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-container {
    background-image: url("https://new-assets.ccbp.in/frontend/static-website/moon-stars-bg.png");
    height: 150vh;
    background-size: cover;
    padding: 20px;
}

.padding {
    padding-top: 100px;
}

.h-1 {
    font-family: Bree Serif;
    text-align: center;
    color: #ffffff;
}

.p-1 {
    font-family: Bree Serif;
    color: #ffffff;
    text-align: center;
    font-size: 15px;
}

.bg-image {
    background-image: url("https://d2clawv67efefq.cloudfront.net/ccbp-static-website/moon-bg.png");
    height: 50vh;
    border-radius: 10px;
    background-size: cover;
}

.margin-h1 {
    margin-top: 150px;
    height: 20px;
}

.para {
    margin-top: 120px;
}

.button {
    border-radius: 20px;
    color: #ffffff;
    background-color: #8e97fd;
    font-family: Bree Serif;
    font-size: 13px;
    width: 100px;
    height: 30px;
    margin-top:20px;

}

.background-container {
    background-color: #03174c;
}

.music-image {
    height: 60vh;
}

.color {
    color: #ffffff;
}

.color-2 {
    color: #98a1bd;
}

.text {
    font-family: Bree Serif;
}

.margin {
    margin-left: 20px;
    margin-top: 20px;
}

.image-m2 {
    height: 20vh;
}

.margin-2 {
    margin-left: 10px;
}

.margin-3 {
    margin-left: 20px;
}

.margin-bottom {
    margin-bottom: 30px;
}