@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-color {
    background-color: #1b1b1b;
    padding: 20px;
    background-size: cover;
    height:100vh;
}

.font {
    font-family: Bree Serif;
}

.color {
    color: #ffffff;
}

.margin {
    margin-left: 10px;
}

.margin-top {
    margin-top: 20px;
}

.heading {
    color: #ffffff;
    font-family: Bree Serif;
    margin-left: 20px;
}

.image-1 {
    height: 220px;
    width: 150px;
    margin-left: 20px;
}

.bg-color2 {
    background-color: #e6f6ff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.h-2 {
    color: #183b56;
    font-size: 25px;

}

.para-1 {
    font-size: 18px;
}

.para-2 {
    color: #183b56;
    font-size: 12px;
}

.h-3 {
    margin-left: 20px;
    font-size: 30px;
}

.button {
    margin-bottom: 20px;
}

.para-3 {
    font-size: 12px;
}

.h-4 {
    font-size: 23px;
}

.image-2 {
    height: 150px;
    margin-left: 20px;
}

.ak-image {
    width: 200px;
    height: 300px;
}

.color-subpara {
    color: #9aa5b1;
}

.color-para {
    color: #e4e7eb;
    font-size: 15px;
    text-align: left;
    margin-left: 20px;
}