@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-image {
    background-image: url('https://d2clawv67efefq.cloudfront.net/ccbp-static-website/podcasts-bg.png');
    height: 75vh;
    background-size: cover;
    padding: 20px;
}

.h-1 {
    color: #ffffff;
    font-family: Roboto;
}

.image {
    height: 145px;
    width: 200px;
}

.text {
    text-align: center;
    color: #151765;
}

.h1-puri {
    font-size: 20px;
}

.padding {
    padding: 30px;
}

.margin {
    margin-left: 15px;
}

.margin-home-image {
    margin-left: 20px;
}

.bg-1 {
    background-color: #151765;
    padding: 30px;
}

.text-1 {
    color: #ffffff;
    margin-left: 10px;
}

.heading {
    font-size: 30px;
}

.text-2 {
    color: #151765;
    margin-left: 10px;
}

.heading-1 {
    font-size: 20px;
}

.padding-puri {
    padding: 20px;
}

.button {
    background-color: #151765;
    color: white;
    border: 0;
    border-radius: 10px;
    width: 90px;
    margin-left: 350px;
}